/* General Styles */
body {
    font-family: sans-serif;
    margin: 0; /* Remove default body margin */
}

header {
    background-color: #24292f; /* GitHub dark header color */
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
}

h1, h2 {
    margin-bottom: 1rem;
}

/* User Info Styling */
#user-info {
    display: flex; /* Arrange avatar and details horizontally */
    align-items: center; /* Align items vertically */
    margin-bottom: 2rem;
}

#user-info img {
    width: 50px; /* Adjust avatar size as needed */
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

/* Repository List Styling */
#repo-items ul {
    list-style: none;
    padding: 0;
}

#repo-items li {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer; /* Indicate that items are clickable */
    list-style: none;
}

#repo-items li:hover {
    background-color: #9b861d; /* Highlight on hover */
    text-decoration: underline;
}

.visualization-container {
    margin-top: 20px;
}