/* General Styles */
body {
    font-family: "Roboto", sans-serif;   /* Use GitHub's Roboto font */
    background-color: #f6f8fa;           /* Off-white background */
    color: #24292e;                     /* Dark gray for primary text */
    margin: 0;                          /* Remove default body margin */
}

/* Navbar Styling */
.navbar {
    background-color: #24292f !important; /* GitHub dark header color */
    color: white; /* Text color for the navbar */
    padding: 1rem 1.5rem;
}

/* Styling for navbar brand */
.navbar-brand {
    color: white !important; /* Ensure the brand text is white */
    font-size: 1.25rem;    /* Adjust font size as needed */
}

.navbar-brand h1 {        /* Remove the default margin for the h1 inside the brand */
    font-size: inherit;  /* Inherit the font size from .navbar-brand */
    margin: 0;
}

/* Styling for navbar links */
.navbar-nav .nav-link {
    color: #c9d1d9 !important; /* Light gray for links */
    margin-right: 1rem;   /* Add some space between links */
}

.navbar-nav .nav-link:hover { /* Add a hover effect for the links */
    color: white !important;
}

/* Styling for the content of the navbar (excluding the brand and toggle button) */
.navbar #navbarContent {
    display: flex;            /* Use Flexbox for flexible layout */
    align-items: left;      /* Vertically align items in the center */
    justify-content: space-between; /* Distribute space between content and buttons */
    width: 100%;            
}

/* Styling for the lead text */
.navbar .lead {
    font-size: 1.1rem; 
    margin-bottom: 0; 
}

/* Styling for the login/logout buttons */
.navbar .btn {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

/* User Info Styling */
#user-info {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

#user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

/* Repository List Styling */
#repository-list {
    margin-top: 20px;
}

.card {
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    transition: box-shadow 0.2s ease; /* Smooth transition for hover */
}

.card-title {
    font-size: 16px; /* Larger font for titles */
    font-weight: 600; /* Slightly bolder */
    color: #24292e;  /* Dark gray for title text */
}

.card-username {
    font-weight: lighter;
    color: #586069; /* Medium gray for username */
}

.btn-primary {
    background-color: #24292e; 
    border-color: #24292e;
    color: white; /* White text for the button */
}

/* Add your custom styles here */
.visualization-container {
    margin-top: 20px;
}

/* Style the repository card elements */
.repo-card .repo-name {
    color: #0366d6; /* GitHub blue for links */
    text-decoration: none;
}

.repo-card .repo-name:hover {
    text-decoration: underline;
}

.repo-card .repo-details {
    margin-top: 10px;
    color: #586069;  /* Medium gray for details */
    font-size: 12px;
}

.repo-card .language-color {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.repo-card .star-icon,
.repo-card .fork-icon {
    margin: 0 5px;
}

/* Hover Effect */
.repo-card:hover {
    background-color: #f5f5f5; /* Light gray background on hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow on hover */
    cursor: pointer;
}
