<!DOCTYPE html>
<html>
<head>
    <title>GitGraph - Login</title>
    <link rel="alternate icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Login with GitHub
                    </div>
                    <div class="card-body">
                        <a href="{{ url_for('auth.github.login') }}" class="btn btn-primary btn-block">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>